.global-footer {
  font-family: var(--artdeco-reset-typography-font-family-sans);
  margin-top: 1.6rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.global-footer__container {
  padding: 1rem;
}

.global-footer__link {
  color: #00000092;
  text-decoration: none;
}

.global-footer__link:hover {
  color: #0073b1;
  text-decoration: underline;
}

.global-footer__link--static {
  font-weight: bold;
}

.global-footer__action-list {
  list-style: none;
  padding: 0;
}

.global-footer__action-icon {
  margin-right: 0.5rem;
}

.global-footer__label {
  margin: 0;
}

.global-footer__language-selection-dropdown {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
