/* CHAT */
body {
  background-color: #f4f2ee;
}

#msg-head:hover {
  background-color: rgb(240, 240, 240);
}

#btn-invio-msg:hover {
  background-color: rgb(240, 240, 240);
  color: black;
  /* border: 1px black solid; */
}

/* IMAGE PROFILE */
.background-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.profile-image-container {
  position: relative;
  text-align: center;
}

.profile-image {
  position: absolute;
  top: -75px;
  left: 15%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
}

/* TOPBAR */

.MyNav {
  height: 70px;
}
a {
  text-decoration: none;
  color: grey;
}
.premium-a {
  text-decoration: underline;
  color: #b06009;
  font-size: 1em;
}
.underline:hover {
  text-decoration: underline;
}

.premium-text:hover {
  color: #0a66cb;
}

.nav-paragraphs {
  font-size: 0.79em;
  color: grey;
}

.Cerca {
  background-color: #edf3f8;
  border: none;
  width: 200px;
}
.search-icon {
  position: absolute;
  top: 50%;
}

.input-zone {
  width: 100%;
  z-index: 0;
  max-width: 280px;
  position: relative;
}

.large-nav {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
  margin-right: auto;
}
.menu-item {
  margin-bottom: -2px;
  font-size: 16px;
}
.menu-subtext {
  font-size: 14px;
  color: gray;
  opacity: 0.7;
  margin-bottom: 12px;
  margin-top: 0;
}
.menu-items:hover {
  text-decoration: underline;
  text-decoration-color: #0a66cb;
}
.menu-item:hover {
  text-decoration-thickness: 2px;
}

.you-section {
  max-height: 400px;
  overflow-y: auto;
  margin-right: auto;
}

/* FOOTER */
.global-footer {
  font-family: var(--artdeco-reset-typography-font-family-sans);
  margin-top: 1.6rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.global-footer__container {
  padding: 1rem;
}

.global-footer__link {
  color: #00000092;
  text-decoration: none;
}

.global-footer__link:hover {
  color: #0073b1;
  text-decoration: underline;
}

.global-footer__link--static {
  font-weight: bold;
}

.global-footer__action-list {
  list-style: none;
  padding: 0;
}

.global-footer__action-icon {
  margin-right: 0.5rem;
}

.global-footer__label {
  color: #00000084;
  margin: 0;
}

.global-footer__language-selection-dropdown {
  width: 100%;
  padding: 0.5rem;
  border: 1.5px solid #4f4f4f;
  border-radius: 4px;
}

input[type="file"] {
  display: none;
}

.clicked-link {
  color: #8443ce !important;
}

.no-dots {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*HOMEPAGE*/
.reaction-section {
  list-style: none;
  padding: 0;
  margin: 0;
}
.bord {
  border-top: 1px solid #cdc6c6;
}

<<<<<<< HEAD
.custom-button-hover:hover {
  background-color: #f8f9fa;
}

.custom-tabs .nav-link.active {
  border-bottom: 3px solid green;
  border-left: none;
  border-right: none;
  border-top: none;
}

.custom-tabs-hover .nav-link:hover {
  background-color: transparent !important;
}

.custom-tabs .nav-link:hover {
  border-radius: 0% !important;
  background-color: rgba(235, 235, 235, 0.808) !important;
}

.custom-tabs .nav-link {
  color: black !important;
}

.large-icon {
  font-size: 2rem;
=======
/*MAIN CONTENT SIDES*/
.profile-pic {
  padding-right: 0;
  margin-left: 1rem;
}
.connect-button:hover {
  border-color: black !important;
  color: black !important;
}
.profile-name {
  cursor: pointer;
}
.profile-name:hover {
  text-decoration: underline;
  text-decoration-color: #0a66c2;
  color: #0a66c2;
}

.h5 {
  font-size: 1.2rem;
}
.PlusLg:hover {
  border-color: black !important;
  color: black !important;
>>>>>>> fa96951fde42fe1b8b0693b3caa499fa75ae81ea
}
