/* CHAT */
body {
  background-color: #f4f2ee;
}

#msg-head:hover {
  background-color: rgb(240, 240, 240);
}

#btn-invio-msg:hover {
  background-color: rgb(240, 240, 240);
  color: black;
  /* border: 1px black solid; */
}

/* TOPBAR */
a {
  text-decoration: none;
  color: grey;
}
.premium-a {
  text-decoration: underline;
  color: #b06009;
  font-size: 1em;
}
.underline:hover {
  text-decoration: underline;
}

.premium-text:hover {
  color: #0a66cb;
}

.nav-paragraphs {
  font-size: 0.79em;
  color: grey;
}

.Cerca {
  background-color: #edf3f8;
  border: none;
}

.input-zone {
  width: 100%;
  z-index: 0;
  max-width: 280px;
}

/* FOOTER */
.global-footer {
  font-family: var(--artdeco-reset-typography-font-family-sans);
  margin-top: 1.6rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.global-footer__container {
  padding: 1rem;
}

.global-footer__link {
  color: #00000092;
  text-decoration: none;
}

.global-footer__link:hover {
  color: #0073b1;
  text-decoration: underline;
}

.global-footer__link--static {
  font-weight: bold;
}

.global-footer__action-list {
  list-style: none;
  padding: 0;
}

.global-footer__action-icon {
  margin-right: 0.5rem;
}

.global-footer__label {
  margin: 0;
}

.global-footer__language-selection-dropdown {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
